<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>GYMSTACK | Gym Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header class="public-header">

    <div class="public-brand">

        <h1>⚡ GYMSTACK</h1>

        <span>Gym Management System</span>

    </div>


    <nav class="public-nav">

        <a href="/contact">
            Contact Us
        </a>

        <a href="/login">
            Login
        </a>

    </nav>

</header>


<main class="home-container">

    <section class="home-content">

        <h2>
            Welcome to GYMSTACK
        </h2>

        <p>
            Smart and simple gym management system
            for managing clients, memberships and payments.
        </p>
      

    </section>

</main>


</body>

</html>